USE [master]
GO
/****** Object:  Database [ATB]    Script Date: 11.07.2023 14:11:27 ******/
CREATE DATABASE [ATB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Product', FILENAME = N'E:\Приложения\SQL Server\ШАГ\Product.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Product_log', FILENAME = N'E:\Приложения\SQL Server\ШАГ\Product_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATB]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11.07.2023 14:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[category] [nvarchar](100) NULL,
	[price] [float] NULL,
	[discount] [float] NULL,
	[quantity] [int] NULL,
	[measurement] [nvarchar](50) NULL,
	[producer] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[supplier] [nvarchar](50) NULL,
	[date_of_delivery] [date] NULL,
	[expire_date] [date] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (1, N'Родзинки', N'Сухофрукти та гооріхи', 27.8, 10, 500, N'пачка (150 г.)', N'Своя Лінія', N'Україна', N'АТБ', CAST(N'2023-05-05' AS Date), CAST(N'2023-11-05' AS Date))
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (2, N'Асорті фруктово горіхове', N'Сухофрукти та гооріхи', 40.3, 11, 1000, N'пачка (125 г.)', N'Своя Лініія', N'Україна', N'АТБ', CAST(N'2023-05-05' AS Date), CAST(N'2025-11-05' AS Date))
INSERT [dbo].[Product] ([id], [name], [category], [price], [discount], [quantity], [measurement], [producer], [country], [supplier], [date_of_delivery], [expire_date]) VALUES (3, N'Чіпсы Lays', N'Снеки', 53.49, 0, 1200, N'пачка (200 г.)', N'Frito Lay', N'США', N'TM Hinto', CAST(N'2023-06-01' AS Date), CAST(N'2025-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
USE [master]
GO
